[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
pip-upgrader = "*"

[packages]
pillow = "*"
pytesseract = "*"
numpy = "*"
opencv-python = "*"
imutils = "*"
scikit-image = "*"

[requires]
python_version = "3.7"
